<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @turn.date %>
</p>

<p>
  <strong>State:</strong>
  <%= @turn.state %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @turn.patient_id %>
</p>

<%= link_to 'Edit', edit_turn_path(@turn) %> |
<%= link_to 'Back', turns_path %>
