
<p id="notice" class="text-center"><%= notice %></p>

<div class="text-center">

  <p>
    <strong>Paciente:</strong>
    <%#= @turn.time %>
    <%if current_patient.name?%>
        <%= current_patient.name + ' '+ current_patient.lastname %>

  <%else%>
        <%= current_patient.email%>
<%end%>

        </p>

  <p>
  <strong>Fecha:</strong>
  <%= @turn.date.strftime('%d/%m/%Y') %>
</p>

<p>
  <strong>Hora:</strong>
  <%#= @turn.time %>
  <%= @turn.time.strftime('%H:%M') +' HS' %>
</p>

<!--<p>-->
  <!--<strong>Name:</strong>-->
  <!--<%#= @turn.name %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Patient:</strong>-->
  <!--<%#= @turn.patient %>-->
<!--</p>-->

  <a class="btn" href="<%=edit_turn_path(@turn)%>">Editar</a></br></br>
  <a class="btn btn-large" href="<%=root_path%>">Volver a la página</a>


</div>  </br>
