<h1>Listing patients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Dni</th>
      <th>Email</th>
      <th>Address</th>
      <th>Photo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.lastname %></td>
        <td><%= patient.gender %></td>
        <td><%= patient.age %></td>
        <td><%= patient.dni %></td>
        <td><%= patient.email %></td>
        <td><%= patient.address %></td>
        <td><%= patient.photo %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
