<p id="notice" class="text-center"><%= notice %></p>

<div class="text-center">


  <p>
    <strong>Foto:</strong></br>
    <%= image_tag(@patient.photo_url, :width => 100) if @patient.photo.present? %>
  </p>

<p>
  <strong>Nombre:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @patient.lastname %>
</p>



<!--<p>-->
  <!--<strong>Gender:</strong>-->
  <!--<%#= @patient.gender %>-->
<!--</p>-->

<p>
  <strong>Edad:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>DNI:</strong>
  <%= @patient.dni %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<!--<p>-->
  <!--<strong>Address:</strong>-->
  <!--<%#= @patient.patient %>-->
<!--</p>-->



<a class="btn" href="<%=edit_patient_path(current_patient)%>">Editar</a></br></br>
<a class="btn btn-large" href="<%=root_path%>">Volver a la página</a>

</div>  </br>