<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @patient.lastname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @patient.dni %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<!--<p>-->
  <!--<strong>Address:</strong>-->
  <!--<%#= @patient.patient %>-->
<!--</p>-->

<p>
  <strong>Photo:</strong>
  <%= @patient.photo %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %>
<%= link_to 'Back', patients_path %>
